@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  transition: all 0.3s ease;
}
